/* VideoPlaceholder.css */
.video-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-image-placeholder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 800px; /* Set the maximum width */
  width: 100%; /* Ensure it takes up the full width of the container */
  height: 450px; /* Set a fixed height based on the aspect ratio (16:9) */
}

@media (max-width: 750px) {
  .video-image-placeholder {
    height: 0;
    padding-bottom: 56.25%;
  }
}