.app-container {
  min-height: 81vh; 
  background-color: rgb(229, 231, 235);
}

div.text-center.col-sm-1.col-2 {
  padding-top: 30px;
}

div.text-center.col-sm-10.col-8 {
  display: flex !important;
  align-content: space-around !important;
  flex-direction: column;
  flex-wrap: wrap;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height based on your design */
}

