.wordClips-app {
  height: 100vh;
  background-color: rgb(229, 231, 235);
  display: flex;
  flex-direction: column;
}

.wordClips-menu {
  height: 10vh;
}

.wordClips-main-content {
  min-height: 82vh;
}

.wordClips-footer {
  height: 8vh;
}

div.text-center.col-sm-1.col-6.order-sm-1.order-2 {
  padding-top: 100px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height based on your design */
}
